apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deployment
  labels:
    app: hello

spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{.Values.image.repository}}:{{.Values.image.tag}}"
        ports:
        - containerPort: {{ .Values.containerPort }}

